body{
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div{
  border: 1px solid black;
}

.container{
  margin: auto;
  max-width: 1200px;
}
.grid{
  display: grid;

}

.row{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.head{
  background-color: #ffffff;
  padding: 15px 0px;

  display: grid;
  .col:nth-child(1) {
    background-color: red;

  }
  .col:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .col:nth-child(3) {
    background-color: orange;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 50% 50%;

    .item:nth-child(1){
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    .item:nth-child(2){
      display: flex;
      align-items: flex-end;
    }
    .item:nth-child(3){
      display: flex;
      align-items: flex-start;
    }
    .item:nth-child(4){
      display: flex;
      align-items: flex-start;
    }
  }
  .col:nth-child(4) {
    background-color: green;
  }
  .col:nth-child(5) {
    background-color: cyan;
  }
  .logo_block{
    img{
      vertical-align: middle;
    }
    span{
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}


@media screen and (min-width: 1200px){ //desktop
  .head{
    grid-template-columns: repeat(5,1fr);
    grid-auto-flow: row;

  }
}

@media screen and (max-width: 1200px){ //tablets
  .head{
    grid-template-columns: repeat(12,1fr);
    grid-auto-flow: row;

    .col:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
    .col:nth-child(2) {
      grid-column-start: 5;
      grid-column-end: 9;
    }
    .col:nth-child(3) {
      grid-column-start: 9;
      grid-column-end: 13;
    }
    .col:nth-child(4) {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 7;
    }
    .col:nth-child(5) {
      grid-row-start: 2;
      grid-column-start: 7;
      grid-column-end: 13;
    }
  }
}

@media screen and (max-width: 768px) { //mobile
  .head{
    grid-template-columns: repeat(1,1fr);
    grid-auto-flow: row;

    .col:nth-child(1) {
      grid-row-start: 1;
      grid-column: 1;
    }
    .col:nth-child(2) {
      grid-row-start: 2;
      grid-column: 1;
    }
    .col:nth-child(3) {
      grid-row-start: 3;
      grid-column: 1;
    }
    .col:nth-child(4) {
      grid-row-start: 4;
      grid-column: 1;
    }
    .col:nth-child(5) {
      grid-row-start: 5;
      grid-column: 1;
    }
  }
}
