div.container.head
    div.col
        img(src='assets/logo.png')
    div.col
        div
            img(src='assets/phone.png')
            span +7 (495) 668-04-40
        div
            img(src='assets/main.png')
            span welcome@edelweiss-lc.ru
    div.col
        div.item
            img(src='assets/point.png')
        div.item
            span г.Химки , ул.Молодежная
        div.item
            img
        div.item
            span 2А офис №6

    div.col links
    div.col calcs