doctype html
html(lang=ru)
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title divier test verstka
        link(rel='stylesheet', href='/css/app.css')
    body
        include head.pug
        include content.pug
        include ground.pug




